
        .main-content{
    display: grid;
   height: 1000px;
   grid-template-columns: 300px auto;
}

.left-section{
    background-color: #CFCFDC;
    width: 303px;
    margin-left: 5px;
}

.right-section{
    width: fit-content;
    background-color: #dcdcdc;
    margin-left: auto;
    padding-left: 15px;
}

img {
    display: block;
    margin: auto;
    align-items: center;
    height: 234px;
    border: 5px solid white ;
    border-radius: 30%;
    width: 60%;
}
.name{
    font-size: 1.2rem;
    font-weight: 700px;
    padding: .02rem;
    letter-spacing: 0.02px; 
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-family: sans-serif;
}

.underline {
    height: 12px;
    background-color: #dcdcdc;
    width: 240px;
    padding: -7px;
    margin-left: 31px;
    border-radius: 29px;
}


    .title {
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: larger;
    padding-top: 20px;
}
.left-content{
    padding: 1rem;
}
.designation{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;

}

.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
.mediaicon{
        height: 63px;
        width: 54px;
        cursor: pointer;
}


.icon {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 5px;
    margin-left: 0px;
}

.contacticon {
    height: 51px;
    width: 34px;
}

.skill1 {
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 71px;
    margin-bottom: 18px;
}

.skill2 {
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 40px;
}

.skills {
    margin-top: 37px;
    margin-left: 16px;
}


.Designation {
    margin-left: 122px;
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: larger;
    font-weight: bold;
}

.progressbar1 {
    height: 8px;
    width: 165px;
    background-color: black;
    margin-left: 26px;
    border-radius: 33px;
}

.progressbar2{
    height: 8px;
    width: 130px;
    margin-left: 26px;
    border-radius: 33px;
    background-color: black;
}

.progressbar3{
    height: 8px;
    width: 180px;
    margin-left: 26px;
    background-color: black;
    border-radius: 33px;
}

.progressbar4{
    height: 8px;
    width: 150px;
    margin-left: 26px;
    background-color: black;
    border-radius: 33px;
}

.progressbar5{
    height: 8px;
    width: 218px;
    margin-left: 26px;
    background-color: black;
    border-radius: 33px;
}


h3.skills_heading {
    margin-left: 107px;
    padding-top: 29px;
}

.divprogressbar {
    padding-left: 15px;
}




.about_content {
    /* padding-top: 13px; */
    margin: 36px;
}

.education-content{
    display: grid;
    grid-template-columns: auto auto;
}

.edu-div{
    display: grid;
    grid-template-columns: auto auto;
}

.edu-2 {
    padding-right: 50px;
    padding-top: 35px;
}

.edu-1 {
    padding-right: 219px;
    padding-top: 35px;
}

.edu_div {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 63px;
    /* padding-right: 53px; */
}

.date {
    padding-top: 22px;
}

#projects{
    cursor: pointer;
}
h2.right-title {
    padding-top: 106px;
}

@media screen and (max-width:200px) {
    .main-content{
        display: flex;
        flex-direction: column;
    }

    .left-section{
        width: 466px;
    }

    .underline{
        margin-left: 110px;
    }
    
}
